<%

var pageName
var pageTitle

%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
  <% if(pageName === 'home'){%>
  Webデザイナーの仕事を楽にする! gulpではじめるWeb制作ワークフロー入門 公式サポートサイト
  <% } else {%>
  <%= pageTitle %> | Webデザイナーの仕事を楽にする! gulpではじめるWeb制作ワークフロー入門 公式サポートサイト
  <% } %>

  </title>
  <link rel="stylesheet" href="./assets/styles/common.css">
</head>

<body>
