

  <header class="c-header">
    <div class="c-header__inner">
      <h1 class="c-header__brand">
        <a href="/">
        gulpではじめるWeb制作ワークフロー入門
        </a>
      </h1>
      <nav class="c-global-nav">
        <ul class="c-global-nav__list">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/chapter01.html">
              サンプルコード
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </header>


