<%
  var page
  var data
%>

<nav class="c-toc">
    <ul>
        <li>
            <a href="#CHAPTER01">CHAPTER 1</a>
        </li>
        <li>
            <a href="#CHAPTER02">CHAPTER 2</a>
        </li>
        <li>
            <a href="#CHAPTER03">CHAPTER 3</a>
        </li>
        <li>
            <a href="#CHAPTER04">CHAPTER 4</a>
        </li>
        <li>
            <a href="#CHAPTER05">CHAPTER 5</a>
        </li>
        <li>
            <a href="#CHAPTER06">CHAPTER 6</a>
        </li>
        <li>
            <a href="#CHAPTER07">CHAPTER 7</a>
        </li>

    </ul>
</nav>
