




.p-bookinfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-bookinfo__visual {
  grid-row: 1;
  figure {
    display: flex;
    align-items: flex-start;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
  img {
    width: 100%;
    height: auto;
  }
}

.p-bookinfo__data {
  grid-column: 2 / 3;
  grid-row: 1;
}


.p-code-chank {
  &:not(:last-child){
    margin-bottom: 1.5rem;
  }
}


