.p-bookinfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &__visual {
    grid-row: 1;

    figure {
      display: flex;
      align-items: flex-start;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__data {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  &__detail-row {
    display: flex;
  }

  &__pubdate {
    font-size: 1.5rem;
  }

  dt {
    margin-right: 0.75em;
  }
}

.p-code-chank {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
