

.c-syntax-area {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &__file-name {
    margin-bottom: 0;
    background: $red;
    color: white;
    padding: 0.25em 0.5em;
    display: inline-block;
  }

  .code-toolbar {
    width: 100%;
  }
}
