.c-toc {
  position: sticky;
  top: 1.5rem;

  ul {
    list-style-type: none;
    font-size: 1rem;
    padding-left: 1.5rem;
    // 1階層目
    li {
      &::before {
        content: "📕";
        display: inline;
      }

      ul {
        margin-top: 0.25em;

        // 2階層目
        li {
          &::before {
            content: "📗";
            display: inline;

            &:not(:last-child) {
              margin-bottom: 0.5em;
            }
          }
        }
      }
    }
  }

  a {
    color: inherit;
  }
}
