.c-toc {
  position: sticky;
  top: 0;
  ul {
    list-style-type: none;
    font-size: 1rem;
    padding-left: 1.5rem;

  }
  li {
    &::before {
      content: "📕";
      display: inline;
    }
    &:not(:last-child) {
      margin-bottom: .5em;
    }
    > ul {
      margin-top: 0.25em;
      li {
        &::before {
          content: "📗";
          display: inline;
        }
      }
    }
  }
  a {
    color: inherit;
  }
}
