<% include _partial/head.ejs %>
  <% include _partial/header.ejs %>
      <div class="l-content-wrap">
        <div class="l-sidebar">
          <% include _partial/code-toc.ejs %>
        </div>
        <main class="l-main">
          <div class="l-main__inner">
            <h2>
              CHAPTER3
            </h2>
            <p>
              サンプルコードはありません。
            </p>
            <p>
              掲載されているリンクはこちら
              <br>
              <a href="./links.html#CHAPTER03">CHAPTER3 参考リンク集</a>
            </p>
          </div>
        </main>
      </div>
      <% include _partial/footer.ejs %>





    <script src="main.js"></script>
</body>

</html>
